
html, body, head{
    font-size: 16px;
    margin:0;
    color: #1e1d1d;
}

.mt-1{
    margin-top: 10px !important;
}

.container{
    width: 95% !important;
    max-width: 100% !important;
}
.custom_logo{
    height: 24px;
    width: 24px;
}
.centered-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
  }
.float-right{
    float:right;
}

.material-icons.custom { font-size: 3rem; 
padding: 7px;}