
html, body, head{
    font-size: 16px;
    margin:0;
    color: #1e1d1d;
}

.mt-1{
    margin-top: 10px !important;
}

.custom_logo{
    height: 24px;
    width: 24px;
}
.centered-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
  }
.float-right{
    float:right;
}

.material-icons.custom { font-size: 3rem; 
padding: 7px;
cursor: pointer;
}

.dark-primary-color    { background: #D32F2F; }
.default-primary-color { background: #F44336; }
.light-primary-color   { background: #FFCDD2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.row.valign-wrapper{
    margin-bottom:0px !important;
}
